.breed-select {
  height: auto;
  width: 150px;
}
.loader {
  font-size: 18px;
  color: blue;
}

.error {
  font-size: 18px;
  color: red;
}

.cat-picture {
  width: 300px;
  height: auto;
}

.unvisible {
  display: none;
}

.cat-container {
  display: flex;
}
